Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [14]:
s = "harish"
l = [1,2,3,4,"Harish"]
f = 4.54
t = (1,2,3,4)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [15]:
var1 = ' ' 
type(var1)

str

In [16]:
var2 = '[ DS , ML , Python]'
type(var2)

str

In [17]:
var3 = ['DS','ML','Python']
type(var3)

list

In [18]:
var4 = 1.
type(var4)

float

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [19]:
# / - Division operator gives the quotient
a = 10 / 5
# % - Modulus operator gives the remainder
b = 10 % 5
# // - Floor division operator is used to give the division value in integer format
c = 11 // 5 
# ** - power operator is used to give the (x)**y value
d = 2**4

In [20]:
d

16

In [21]:
a

2.0

In [22]:
b

0

In [23]:
c

2

Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [24]:

numbers = [12, 9, 7, 18, 21, 14, 27, 5, 30, 8, 17, 22, 11, 33, 16, 24, 6, 19, 15, 3, 20, 10, 13, 25, 4]


for num in numbers:
    
    if num % 3 == 0:
        print(num, "is divisible by 3")
    else:
        print(num, "is not divisible by 3")

12 is divisible by 3
9 is divisible by 3
7 is not divisible by 3
18 is divisible by 3
21 is divisible by 3
14 is not divisible by 3
27 is divisible by 3
5 is not divisible by 3
30 is divisible by 3
8 is not divisible by 3
17 is not divisible by 3
22 is not divisible by 3
11 is not divisible by 3
33 is divisible by 3
16 is not divisible by 3
24 is divisible by 3
6 is divisible by 3
19 is not divisible by 3
15 is divisible by 3
3 is divisible by 3
20 is not divisible by 3
10 is not divisible by 3
13 is not divisible by 3
25 is not divisible by 3
4 is not divisible by 3

Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [25]:

x = [10, "Hello", 3.14, True, [1, 2, 3], {"name": "John", "age": 25}, None, (1, 2, 3), 5 + 2j, False]

for ele in x:
    print(ele, "is of type", type(ele))

10 is of type <class 'int'>
Hello is of type <class 'str'>
3.14 is of type <class 'float'>
True is of type <class 'bool'>
[1, 2, 3] is of type <class 'list'>
{'name': 'John', 'age': 25} is of type <class 'dict'>
None is of type <class 'NoneType'>
(1, 2, 3) is of type <class 'tuple'>
(5+2j) is of type <class 'complex'>
False is of type <class 'bool'>

In [ ]:
Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [26]:

a = int(input("a value : "))
b = int(input("b value: "))


count = 0

while a % b == 0:
    a = a / b  
    count += 1  
if count > 0:
    print("A is divisible by B")
    print("A can be divided by B", count, "times")
else:
    print("A is not divisible by B")

a value : 10
b value: 5
A is divisible by B
A can be divided by B 1 times

What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Mutable means the value inside the item can be replaced after creation. But in immutable we cannot replace the created item.
eg : 
Lists are mutable
Tuples are immutable.

In [27]:
#List mutable

a = [10,4,32,5]
a[3] = 4

In [28]:
a

[10, 4, 32, 4]

In [29]:
# Tuple - immutable

a = (10,4,32,5)
a[3] = 4

TypeError: 'tuple' object does not support item assignment