In [2]:
import mysql.connector

In [13]:
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f4d91d37ac0>

# 1. What is a database? Differentiate between SQL and NoSQL databases.

A database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system(DBMS). Together, the data and the DBMS along with the applications that are associated with them, are referred to as a database system, often shortened to just database.

# SQL
    - Relational Database Management System (RDBMS)
    - These databases have a fixed or static or predefined schema.
    - These databases are not suited for hierarchical data storage.
    - These databases are best suited for complex queries.
    - Vertically scalable.
    - Follows ACID Property.
    - Example: MySQL, PostgreSQL, Oracle, MS-SQL Server etc..

# NoSQL
    - Non relational or distributed database system
    - They have a dynamic schema
    - These databases are best suited for hierarchical data storage.
    - These databases are not so good for complex queries.
    - Horizontally scalable.
    - Follows CAP(Consistency,Availability,Partition Tolerance)
    - Example: MongoDB, HBase, Neo4j, Cassandra etc..

# 2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL is an abbreviation of **Data Definition Language**

The DDL Commands in SQL are used to create and modify the schema of the database and its objects. 
The syntax of the DDL commands is predefined for describing the data.
The commands of Data Definition language deal with how the data should exist in the database.

In [ ]:
# Create Command
"""
Create is a DDL Command used to create databases, tables, triggers and other database objects.
"""
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE if not exists college")
mycursor.execute("CREATE TABLE if not exists college.csedept1 (os INT, dbms VARCHAR(50), ai INT, ml FLOAT, dl VARCHAR(40))")
mydb.close()

In [ ]:
# Alter Command
"""
Alter is a DDL Command which changes or modifies the existing structure of the database and it also changes the schema of database objects.
"""
mycursor = mydb.cursor()
mycursor.execute("ALTER TABLE college.csedept1 ADD dsa VARCHAR(50)")
mycursor.execute("ALTER TABLE college.csedept1 DROP COLUMN ml, DROP COLUMN dl")
mycursor.execute("ALTER TABLE college.csedept1 MODIFY ai VARCHAR(50)")

In [13]:
# Rename Command
# Rename is a DDL command which is used for renaming the existing table.
mycursor = mydb.cursor()
mycursor.execute("RENAME TABLE college.csedept1 to college.csedepartment")

In [19]:
# Truncate Command
# Truncate is a DDL command which deletes or removes all the records from the table. The command also removes the space allocated for storing the table records.

mycursor = mydb.cursor()
mycursor.execute("TRUNCATE TABLE college.csedepartment")

In [22]:
# Drop Command
"""
Drop is a DDL command used to delete/remove the database objects from the SQL database. 
We can easily remove the entire table, view oe index from the database using this command.
"""
mycursor = mydb.cursor()
mycursor.execute("DROP TABLE college.csedepartment")
mycursor.execute("DROP DATABASE college")

# 3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML is an abbreviation of **Data Manipulation Language**

The DML commands in SQL change the data present in the SQL database. We can easily access, store, modify, update and delete the existing records from the database using DML commands.

In [4]:
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE if not exists classroom")
mycursor.execute("CREATE TABLE if not exists classroom.student (rollno INT, mailid VARCHAR(50), phoneno INT, Name VARCHAR(50))")

In [5]:
# INSERT command
# INSERT allows the users to insert data in the database tables.
mycursor = mydb.cursor()
mycursor.execute("INSERT INTO classroom.student(rollno, mailid, phoneno, Name) VALUES(201501015, 'harishnandhan02@gmail.com', 93607, 'Harish Nandhan')")
mydb.commit()

In [6]:
mycursor = mydb.cursor()
mycursor.execute("INSERT INTO classroom.student(rollno, mailid, phoneno, Name) VALUES(201501016, 'harshinijayakumar2908@gmail.com', 84899, 'Harshini')")
mycursor.execute("INSERT INTO classroom.student(rollno, mailid, phoneno, Name) VALUES(201501014, 'hariprasathk2907@gmail.com', 86430, 'Hari Prasath')")
mydb.commit()

In [8]:
# UPDATE Command
# UPDATE Command is used to allow users to update or modify the existing data in the database
mycursor = mydb.cursor()
mycursor.execute("UPDATE classroom.student SET phoneno=70923 WHERE rollno=201501015")

In [9]:
# DELETE Command
# DELETE Command is used to allow users to remove single or multiple existing records from the database tables.
mycursor = mydb.cursor()
mycursor.execute("DELETE FROM classroom.student WHERE rollno = 201501014")

# 4. What is DQL? Explain SELECT with an example.

DQL is **Data Query Language**
DQL is used to fetch the data from the database.
It uses only one command:
- SELECT

In [11]:
# SELECT Command is used to select the attribute based on the condition described by WHERE Clause.

mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM classroom.student")
rows = mycursor.fetchall()
for i in rows:
    print(i)
mycursor.close()

(201501015, 'harishnandhan02@gmail.com', 70923, 'Harish Nandhan')
(201501016, 'harshinijayakumar2908@gmail.com', 84899, 'Harshini')

True

# 5. Explain Primary Key and Foreign Key.

In [15]:
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE if not exists college")
mycursor.execute("USE college")
mycursor.execute("CREATE TABLE IF NOT EXISTS student (studno INT, studname VARCHAR(50), studphone INT(20), studstate VARCHAR(50), studcountry VARCHAR(50), studage INT)")
mycursor.execute("CREATE TABLE IF NOT EXISTS student_course (studno INT, courseno VARCHAR(50), coursename VARCHAR(50))")

In [17]:
mycursor = mydb.cursor()
mycursor.execute("INSERT INTO college.student(studno, studname, studphone, studstate, studcountry, studage) VALUES(1, 'RAM', 98756, 'Haryana','India',20)")
mycursor.execute("INSERT INTO college.student(studno, studname, studphone, studstate, studcountry, studage) VALUES(2, 'RAM', 95468, 'Tamilnadu','India',19)")
mycursor.execute("INSERT INTO college.student(studno, studname, studphone, studstate, studcountry, studage) VALUES(3, 'SUJIT', 93607, 'Andhrapradesh','India',18)")
mycursor.execute("INSERT INTO college.student(studno, studname, studphone, studstate, studcountry, studage) VALUES(4, 'SURESH', 98754, 'Illinois','Unitedstates',21)")
mycursor.execute("INSERT INTO college.student_course(studno, courseno, coursename) VALUES(1, 'C1', 'DBMS')")
mycursor.execute("INSERT INTO college.student_course(studno, courseno, coursename) VALUES(2, 'C2', 'Computer Networks')")
mycursor.execute("INSERT INTO college.student_course(studno, courseno, coursename) VALUES(1, 'C2', 'Computer Networks')")
mydb.commit()

# Primary key
- A **primary key** is used to ensure that data in the specific column is unique.
- A column cannot have NULL values.
- It is either an existing table column or a column that is specifically generated by the database according to a defined sequence.
- Example: here in the above table "studno" as well as "studphone" both are candidate keys for a relation student but studno can be choosen as the primary key (only one out of many candidate keys)

# Foreign key
- Foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. 
- It is a column (or columns) that references a column (most often the primary key) of another table.
- Example: 'studno' in 'student_course' is a foreign key to 'stud_no' in 'student' relation.

#  6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [19]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f4d91d36d60>

In [20]:
mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM college.student")
rows = mycursor.fetchall()
for i in rows:
    print(i)
mycursor.close()

(1, 'RAM', 98756, 'Haryana', 'India', 20)
(2, 'RAM', 95468, 'Tamilnadu', 'India', 19)
(3, 'SUJIT', 93607, 'Andhrapradesh', 'India', 18)
(4, 'SURESH', 98754, 'Illinois', 'Unitedstates', 21)

True

1. - **cursor()** method is used to create a cursor object, which is used to interact with the MySQL database. 
   - It returns a cursor object that you can use to execute SQL queries and fetch results.

2. - **execute()** method is used to execute a SQL query. We can pass a SQL query as a parameter to the 'execute()' method. 
   - It returns 'None' if the query does not return any results (eg.INSERT, UPDATE, DELETE queries).
   - If the query returns results (eg.SELECT query) we need to use the **'fetchall()'** method on the cursor object to fetch the results.

# 7. Give the order of execution of SQL clauses in an SQL query.

An SQL Query comprises of various clauses like SELECT, FROM, WHERE, GROUPBY, HAVING and ORDERBY clauses. Each clause has a specific role in the query.

When we write a query, the query is processed in the following steps:
- Getting data (FROM/JOIN)
- Row Filter (WHERE)
- Grouping (GROUP BY)
- Group filter (HAVING)
- Return Expression (SELECT)
- Order & Paging (ORDER BY & LIMIT/OFFSET)